.form-container{
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    text-align: center;
    margin: 2%;
  }
  .category-form {
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    color: floralwhite;
  }
  .form-text{
    font-weight: 500;
  }
  
  .field-full-width {
    width: 100%;
    padding: 1px;
  }
  
  .form-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .form-radio-button {
    margin: 5px;
  }
  
  .button-container{
    display: flex;
    justify-content: space-around;
    padding: 2%;
  }
  