<div class="form-container">
  <form [formGroup]="mangaForm" class="manga-form">
  <h1 class="headline form-text"> {{isEditing ? 'Edit your manga!' : 'Create your manga!'}} </h1>
  
  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Ex. Attack on Titan" formControlName="title" [(ngModel)]="manga.title">
    <mat-error *ngIf="mangaForm.invalid">Title is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Author</mat-label>
    <input matInput placeholder="Ex. Hajime Isayama" formControlName="author" [(ngModel)]="manga.author">
    <mat-error *ngIf="mangaForm.invalid">Author is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. It goes about a boy who..." formControlName="description" [(ngModel)]="manga.description" cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="8"></textarea>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Category</mat-label>
    <mat-select formControlName="categoryId" [(ngModel)]="manga.categoryId">
      <mat-option *ngFor="let category of categories" [value]="category.id"> {{category.title}} </mat-option>
    </mat-select>
    <mat-error *ngIf="mangaForm.invalid">Category is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Chapters</mat-label>
    <input matInput type="number" placeholder="Ex. 35" formControlName="chapters" [(ngModel)]="manga.chapters">
    <mat-error *ngIf="mangaForm.invalid">Episodes are <strong>required</strong></mat-error>
  </mat-form-field>

  <label id="form-radio-group-label" class="form-text">Is it complete?</label>
  <mat-radio-group class="form-radio-group"
  aria-labelledby="form-radio-group-label" formControlName="isComplete" [(ngModel)]="manga.isComplete">
    <mat-radio-button [value]="true" class="form-radio-button" color="primary">Yes</mat-radio-button>
    <mat-radio-button [value]="false" class="form-radio-button" color="primary">No</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" class="field-full-width">
    <mat-label>Image URL</mat-label>
    <input matInput placeholder="Ex. mywebsite.com/attackontitans.jpg" formControlName="imageUrl" [(ngModel)]="manga.imageURL">
    <mat-hint>We recommend using a 600x400 image!</mat-hint>
    <mat-error>Image URL is <strong>required</strong></mat-error>
  </mat-form-field>
  
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onSubmitClick()" [disabled]="!mangaForm.valid">Submit</button>
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  </div>
</form>
</div>